# Data: ignore everything except the example fixtures file
data/*
!data/fixtures/
data/fixtures/*
!data/fixtures/upcoming.example.json


data/
.venv/
.DS_Store
models/
.ipynb_checkpoints/
__pycache__/
*.pyc
.env
